/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

ul , li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Header */
.header {
  padding: 53px 0 56px 0;
  border-bottom: 1px solid #eceef4;
}

.row {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.header-top .logo{
  font-size: 41px;
  color: #3687c4;
  margin-left: 5px;
}

.header-top {
  display: flex;
}

.header-menu {
  margin-left: auto;
  display: flex;
}

.res-nav {
  display: none;
}

.menu-item {
  margin: 24px -6px 0 -7px;
}

.header-menu .menu-item:nth-child(1) {
  padding-right: 10px;
}

.header-menu .menu-item:nth-child(3) {
  padding-left: 10px;
}

.menu-item a i {
  font-size: 30px;
  color: #b9babb;
  padding: 0 30px;
  vertical-align: middle;
}

.menu-item:nth-child(2)::after, .menu-item:nth-child(2)::before {
  content: "";
  width: 1px;
  padding: 0.1px;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #bcbec3;
  vertical-align: middle;
}

.item-link i:hover {
  color: #24ace3;
}

/* Nav */
.nav-top .row {
  display: flex;
}

.nav-top li {
  padding: 25px 20px 28px 25px ;
  border-right: 0.1px solid #eceef4;
}

.nav-top li:nth-child(6), .nav-top li:last-child {
  border-right: none;
}

.nav-top li:last-child {
  margin-left: auto;
}

.nav-link {
  color: #6d6e71;
  font-size: 13px;
  font-weight: bold;
  vertical-align: sub;
}

.nav-input .input {
  border: none;
  padding: 5px 5px;
  vertical-align: super;
  margin-left: -8px;
  margin-right: -13px;
  font-size: 15px;
}

.nav-input .input:focus {
  outline: none;
}

.nav-input i {
  margin-right: 10px;
  color: #6d6e71;
  font-size: 25px;
}

/* Section banner */
.section-banner {
  position: relative;
  margin-bottom: 30px;
}

.image-banner {
  width: 100%;
}

.banner-content {
  position: absolute;
  top: 27%;
  left: 30%;
}

.banner-content span {
  font-size: 120px;
  font-weight: bold;
  color: #bbedff;
  z-index: -1;
}

.content-title {
  font-size: 58.35px;
  color: #fff;
}

.content-sub {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
  margin: -90px 0 0 5px;
}

/* Section introduction */
.section-introduction {
  text-align: center;
}

.section-introduction .row{
  margin-bottom: 90px;
}

.section-introduction .col-six {
  display: flex;
  flex : 0 0 50%;
  flex-wrap: wrap;
  max-width: 50%;
}

.section-introduction .col-six:last-child {
  margin-left: 72px;
}

.light-bud {
  width: 106px;
  height: 113px;
  margin-right: 32px;
}

.wrapper-content {
  text-align: justify;
}

.section-introduction .content-title {
  font-size: 26px;
  color: #6d6e71;
  margin-bottom: 29px;
}

.section-introduction .content-word {
  font-size: 16px;
  color: #6d6e71;
  width: 385px;
}

.image-tree {
  width: 95px;
  height: 116px;
  margin-right: 32px;
}

.image-divine {
  width: 60%;
  margin-bottom: 83px;
}

.section-introduction .row {
  margin-bottom: 110px;
}

/* Section introduction cont */
.section-introduction-continue {
  margin-bottom: 73px;
}

.cont-title {
  display: flex;
  margin: -20px auto 90px auto;
}

.whatwedo {
  width: 131px;
  height: 115px;
  margin-right: 32px;
}

.title-content {
  margin: auto 0;
}

.title-whatwedo{
  font-size: 44px;
  color: #6d6e71;
}

.subtitle-whatwedo{
  font-size: 17px;
  color: #6d6e71;
}

.image-web-design {
  width: 86px;
  height: 86px;
  margin-right: 32px;
}

.image-mobile-application {
  width: 86px;
  height: 86px;
  margin-right: 32px;
}

.image-solution {
  width: 86px;
  height: 97px;
  margin-right: 32px;
}

.image-interior {
  width: 86px;
  height: 69px;
  margin-right: 17px;
}

.light-branding {
  width: 86px;
  height: 93px;
  margin-right: 32px;
}

.image-service {
  width: 86px;
  height: 81px;
  margin-right: 32px;
}

.wrapper-content .content-title {
  font-size: 24px;
  color: #6d6e71;
  margin-bottom: 21px;
}

.section-introduction-continue .col-six:first-child {
  border-right: 1px solid #eaeced;
  margin-right: 15px;
  padding-right: 72px;
}

.wrapper-technique {
  display: flex;
  margin-bottom: 90px;
}

.col-six:last-child .wrapper-technique {
  margin-left: 95px;
}

.section-introduction-continue .row:last-child {
  height: 586px;
}

.technique-description {
  color: #6d6e71;
  font-weight: 100;
}

.col-six:last-child .wrapper-technique:nth-child(2) {
  margin-left: 90px;
}

/* Our Project */
.our-project {
  background: url(../images/project_background.png) no-repeat;
  background-size: 100% 100%; 
}

.project-title {
  margin: 58px auto 94px auto;
  display: flex;
}

.icon-chemical{
  margin-right: 37px;
}

.inner-title {
  font-size: 44px;
  color: #6d6e71;
  margin-top: 35px;
}

.inner-sub {
  font-size: 17px;
  color: #6d6e71;
  line-height: 25px;
  font-weight: 100;
}

.project-tabs {
  margin: 0 auto 65px auto;
  display: flex;
}

.project-tabs li a:not(.button-all) {
  padding: 12px 34px;
  border: 2px solid #cecece;
  font-size: 15px;
  color: #bbb;
  border-radius: 5px;
  font-weight: bold;
}

.button-mobile, .button-identites, .button-interior {
  margin: 0 7px;
}

.project-tabs .active {
  background-color: #fff;
  border: 2px solid #fff !important;
  color: #6d6e71 !important;
}

.button-all {
  margin-right: 8px;
  padding: 12px 50px;
  border: 2px solid #cecece;
  font-size: 15px;
  color: #bbb;
  border-radius: 5px;
  font-weight: bold;
}

.button-ui {
  margin-left: 7px;
}

.col-brands {
  margin: -5px 4px 23px 8px;
  text-align: center;
  padding: 16px 8px 0 8px;
  background-color: #fff;
  border-radius: 5px;
}

.our-project .row:nth-child(4) {
  padding-bottom: 60px;
}

.col-brands img {
  border-radius: 5px;
}

.brands-btns {
  display: flex;
  margin: 0 auto;
}

.brands-btns li {
  padding: 14px 51px 14px 51px;
}

.brands-btns li:first-child {
  border-right: 1px solid #efefef;
}

.brands-btns li a {
  color: #c7c9ce;
}

.wrapper-logo {
  width: 252px;
  background-color: #f5f5f5;
  margin: 0 auto;
  height: 209px;
}

/* Our Team */
.our-project {
  padding-bottom: 19px;
}

.our-team .team-title{
  display: flex;
  margin: 30px auto 80px auto;
  padding-left: 138px;
}

.inner-team-title {
  margin-top: 52px;
  margin-left: 20px;
}

.wrapper-card {
  position: relative;
  width: 291px;
  margin: 0 8px;
}

.team-sub {
  margin-left: 20px;
}

.wrapper-card:last-child {
  margin-right: -8px;
}

.our-team .row:nth-child(2) {
  margin-bottom: 102px;
}

.card-avatar {
  padding: 43px 39px 31px 39px;
  background-color: #f5f5f5;
  text-align: center;
}

.card-avatar img {
  margin-bottom: 23px;
}

.member-name {
  font-size: 24px;
  color: #6d6e71;
}

.member-class {
  white-space: nowrap;
  color: #6d6e71;
  margin-bottom: 100px;
}

.wrapper-social {
  position: absolute;
  background-color: #fff;
  text-align: center;
  bottom: 25px;
  left: 0;
  right: 0;
  padding: 17px 35px;
}

.wrapper-social i{
  margin: 0 11.5px;
  font-size: 25px;
  color: #cdcdcd;
}

/* Map */
.map-address {
  position: relative;
}

.map-background {
  width: 100%;
}

.marked-icon {
  position: absolute;
  top: 19%;
  left: 55.5%;
}

.wrapper-media{
  display: flex;
  position: absolute;
  bottom: 15%;
  left: 44.6%;
}

.map-address a:hover {
  background-color: #1fa9e0;
  color: #fff;
}

.map-address a{
  color: #6c6d70;
  padding: 5px 15px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  font-size: 36px;
}

.map-address ul li:nth-child(2){
  margin: 0 10px;
}

/* Footer */
.footer .col-six {
  display: flex;
  flex : 0 0 50%;
  flex-wrap: wrap;
  max-width: 50%;
}

.footer {
  background-color: #2b2c2d;
  padding-top: 85px;
}

.footer-social-media {
  margin-bottom: 80px;
  display: flex;
  margin-top: -10px;
}

.footer-social-media li {
  padding: 21px 20px;
  border-right: 1px solid #414344;
}

.footer-social-media li:first-child {
  border-left: 1px solid #414344;
}

.footer-social-media li i {
  color: #414344;
  font-size: 25px;
}

.copy-right {
  font-size: 13px;
  color: #6d6e71;
  margin-top: -13px;
  margin-left: 8px;
}

.footer .list-privacy {
  display: flex;
  font-size: 13px;
  color: #6d6e71;
  margin: -31px -18px 33px auto;
}

.footer .list-privacy a{
  color: #6d6e71;
}

.list-privacy li::after {
  content: ".";
  margin: 0 4px;
  font-size: 30px;
}

.list-privacy li:last-child::after {
  content: "";
}

.footer-input {
  padding: 20px;
  background-color: #393b3c;
  height: 30px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  position: relative;
}

.input-form {
  vertical-align: super;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  margin-left: 31px;
  color: #fff;
}

.footer-input a {
  background-color: #494c4d;
  border-radius: 10px;
  padding: 15px 25px;
  color: #6d6e71;
  position: absolute;
  right: 10px;
  top: 10px;
}